body{
    background-color: #f0e8fa;
    color: #020202;
}

.secondary-purple{
    background-color: #D2AFFF;
    color: #F9F9F9
}

/* Landing Page */
.landing-page{
    background: linear-gradient(#D2AFFF99, #E6D7FF99), url("../images/Feli-landing-page.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.overlay-text{
    text-align:center;
    position: absolute;
    top:50%;
    right:50%;
    transform:translate(50%, -50%);
    border-radius: 25px;
    padding: 10px;
    background-color: #ffffff99;
  }

/* Stories Page */
.polaroid a {
  background: #ffffff;
  display: inline-block;
  margin: 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -webkit-transition: all .20s linear;
  -moz-transition: all .20s linear;
  transition: all .20s linear;
  z-index: 0;
  position: relative;
}

.polaroid a:after {
  color: #333;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 15px;
}

.polaroid img {
  display: block;
  width: 250px;
}

.polaroid a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

/* Wishes Page */



/* Color Pallete
Primary: #221B27
Secondary: #32243C
Tertiary: #3E274F
Emphasize: #F5A4C5
*/